@charset "UTF-8";

/* @extend display-flex; */

display-flex,
.page-area-wrapper .container aside .widget .quick-links-widget ul.menu,
.page-area-wrapper .container .section-wrapper,
.page-area-wrapper .container,
.search-area-wrapper .container,
.display-flex-center,
.display-flex {
  display: flex;
  display: -webkit-flex;
}

/* @extend list-type-ulli; */

list-type-ulli,
.page-area-wrapper .container aside .widget .quick-links-widget ul.menu,
.page-area-wrapper .container .section-wrapper section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Awesome Sans";
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/awesome-300.woff2?33543c5cc5d88f5695dd08c87d280dfd) format("woff2");
}

@font-face {
  font-family: "Awesome Sans";
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/awesome-600.woff2?819af3d3abdc9f135d49b80a91e2ff4c) format("woff2");
}

@font-face {
  font-family: "Awesome Sans";
  font-style: normal;
  font-weight: 800;
  src: url(/fonts/awesome-800.woff2?0edb76284a7a0f8db4665b560ee2b48f) format("woff2");
}

@font-face {
  font-family: "Awesome Droid";
  font-style: italic;
  font-weight: 600;
  src: url(/fonts/awesome-droid.woff2?847076af0a2064282724f913e8443124) format("woff2");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 22px;
  color: #6f7579;
  background-color: white;
}

.w-5 {
  width: 5% !important;
}

.w-10 {
  width: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.container {
  padding: 10px;
  margin: 0 auto;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

a:hover {
  text-decoration: none;
}

.display-flex {
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
}

.display-flex-center {
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
}

.search-area-wrapper {
  background: #353b65 url(/images/bg-01.jpg?2f91a8c…) center top no-repeat;
  background-size: auto;
}

.search-area-wrapper .container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 280px;
}

.search-area-wrapper .container h3 {
  font-weight: bold;
  font-size: 36px;
  color: #fff;
  margin: 15px 0;
}

.search-area-wrapper .container p {
  font-family: "Awesome Droid", serif;
  font-style: italic;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  margin: 0 0 40px;
}

.search-area-wrapper .container form {
  width: 100%;
  text-align: center;
}

.search-area-wrapper .container form input.search-term {
  font-size: 14px;
  height: 50px;
  line-height: 24px;
  padding: 12px;
  width: 72%;
  color: #858c91;
  margin-right: 10px;
  margin-bottom: 0;
}

.search-area-wrapper .container form input.search-btn {
  background-color: #3f4b55;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  padding: 14px 30px 15px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  box-shadow: none;
  border-radius: 0;
  display: inline-block;
  border: none;
  vertical-align: bottom;
  height: 50px;
}

.page-area-wrapper .container {
  padding: 55px 10px;
}

.page-area-wrapper .container .section-wrapper {
  width: 70%;
}

.page-area-wrapper .container .section-wrapper section {
  width: 50%;
}

.page-area-wrapper .container .section-wrapper section h3 {
  font-family: "Awesome Sans", "Open Sans", sans-serif;
  font-weight: 600;
  margin-bottom: 30px;
  font-size: 20px;
  color: #3b4348;
}

.page-area-wrapper .container .section-wrapper section ul {
  padding: 0 30px 0 0;
}

.page-area-wrapper .container .section-wrapper section ul li {
  position: relative;
  border-bottom: 1px solid #f2f2f2;
}

.page-area-wrapper .container .section-wrapper section ul li h4 {
  font-size: 13px;
  margin: 10px 0 5px;
  font-weight: 600;
  line-height: 22px;
}

.page-area-wrapper .container .section-wrapper section ul li h4 a {
  color: #3b4348;
}

.page-area-wrapper .container .section-wrapper section ul li h4 a:hover {
  color: #395996;
}

.page-area-wrapper .container .section-wrapper section ul li p {
  padding: 0 0 0 21px;
  margin: 0 0 10px;
}

.page-area-wrapper .container .section-wrapper section ul li span.like-count {
  position: absolute;
  bottom: 0;
  right: 0;
  line-height: 18px;
  font-weight: 600;
  padding: 3px 5px;
  border: 1px solid #f2f2f2;
  border-bottom: none;
}

.page-area-wrapper .container aside {
  width: 30%;
}

.page-area-wrapper .container aside .widget .support-widget {
  border: 1px solid #e9e6c4;
  padding: 10px 100px 10px 20px;
  background: #fefbdc url(/images/support.png?ac7f1c888c9d1576eb2708f8ebb2f299) no-repeat 95% 20px;
  margin-bottom: 20px;
}

.page-area-wrapper .container aside .widget .support-widget h3.title {
  font-weight: 500;
  font-size: 20px;
  color: #3b4348;
  line-height: 44px;
}

.page-area-wrapper .container aside .widget .support-widget p.intro {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 22px;
  color: #6f7579;
}

.page-area-wrapper .container aside .widget .quick-links-widget {
  border: 1px solid #d7d9dc;
  padding: 10px 15px 15px;
}

.page-area-wrapper .container aside .widget .quick-links-widget h3.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 44px;
  color: #3b4348;
}

.page-area-wrapper .container aside .widget .quick-links-widget ul.menu {
  flex-wrap: wrap;
}

.page-area-wrapper .container aside .widget .quick-links-widget ul.menu li {
  flex-basis: 50%;
  padding: 5px 5px 5px 20px;
  background: url(/images/arrow/li-arrow.png) no-repeat 8px 13px;
}

.page-area-wrapper .container aside .widget .quick-links-widget ul.menu li a {
  color: #3b4348;
  text-decoration: none;
}

.page-area-wrapper .container aside .widget .tags-widget h3.title {
  font-weight: 500;
  font-size: 20px;
  color: #3b4348;
  line-height: 44px;
}

.page-area-wrapper .container aside .widget .tags-widget .tag-cloud a {
  margin: 3px;
  font-size: 11px;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

