h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 22px;
  color: #6f7579;
  background-color: white;
}

.w-5 {
  width: 5% !important;
}

.w-10 {
  width: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.container{
  padding: 10px;
  margin: 0 auto;
}

.ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

a:hover{
  text-decoration: none;
}

.display-flex {
  @extend display-flex;
  @include justify-content(space-between);
  @include align-items(center);
}

.display-flex-center {
  @extend display-flex;
  @include justify-content(center);
  @include align-items(center);
}